<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Bookshelf keeps track of all the books a reader has read, wishes to read, or is currently reading.
Readers wish to keep track of their books and reading in one place. Bookshelf will allow them to not only list their books but also write summaries of the books they have read
</p>

<p>
<h1>Contact Us</h1>
By Email:</br>

yashaswinik@gmail.com</br></br>
 
By Mail:</br>

    Bookshelf.com
    700 Continental Circle
    Mountain View, CA 94040
</p>