<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  
<h5>Getting Started</h5>

    1. How do I create a new account?</br>
    A. On the home page you will find a 'Sign Up' button in the middle of the screen. Click on that to register.</br></br>
    2. What do I do if I have forgotten my password?</br>
    A. Go to the 'Sign In' link and click on 'Forgot my password' to reset your password.</br></br>
    3. How can I view my profile page?</br>
    A. After signing in you can see a link 'Profile on the right side of the navigation menu'. Click on that. </br></br>

 

<h5>Your Bookshelf</h5>

    1. How do I add/edit a book to my shelf?</br>
    A. In the profile page you will see a link 'Add Book' below your email, click on that to add a book. In the tab menu for 'All Books' you can see 'Edit' link to edit a book.</br></br>
    2. How do I delete a book from my shelf??</br>
    A. You can delete a book by clicking on the Delete link on the tab menu listing all your books.</br></br>
    3. How can I view my books according to category?</br>
    A. On your profile page you will see a tab menu with differnt categories of your books. Click on that to view books according to category.
     
</p>