<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Bookshelf</h1>
  <h2>
    This is the home page for Bookshelf  
  </h2>
  <% if (!user_signed_in?) %>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

