<% provide(:title, 'Privacy Policy') %>
<h1>Privacy</h1>
<p>
This privacy policy applies to the Bookshelf web site. This Policy is designed to tell you how we collect and use personal information so you can make an informed decision about using our Site and Services. Please read this statement before using our Site or submitting any personal information to us. We reserve the right to change the provisions of this privacy policy at any time, but we will alert you that changes have been made by indicating. Your use of the Site following the posting of such changes or revised statement shall constitute your acceptance of any such changes. We encourage you to review our privacy policy whenever you visit our Site to make sure that you understand how any personal information you provide will be used.</br></br>

If you have any question regarding the use of the Site, please refer first to the Frequently Asked Questions. All other questions or comments about the Site or its contents should be directed to yashaswinik@gmail.com. 
  
</p>