<% provide(:title, 'Terms and Conditions') %>
<h1>Terms and Conditions</h1>
<p>
PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. BY ACCESSING OR USING THIS WEB SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS DESCRIBED HEREIN. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT USE THIS WEB SITE.</br></br>

These terms and conditions of use apply exclusively to your access to, and use of, the the "Bookshelf". </br>

Bookshelf reserves the right to change or modify any of the terms and conditions contained in the Site Terms or any policy or guideline of the Site, at any time and in its sole discretion. Any changes or modification will be effective immediately upon posting of the revisions on the Site. Your continued use of this Site following the posting of its changes or modifications will mean your acceptance of such changes. Therefore,frequently review the Terms and applicable policies from time-to-time. If you do not agree to the changed terms, you must stop using the Site.</br></br>

If you have any question regarding the use of the Site, please refer first to the Frequently Asked Questions. All other questions or comments about the Site or its contents should be directed to yashaswinik@gmail.com.
</p>